@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap");

* {
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 640px) {
	.nav-items {
		position: fixed;
		top: 0px;
		background: rgb(83, 108, 215);
		flex-direction: column;
		clip-path: circle(100px at 90% -10%);
		-webkit-clip-path: circle(100px at 90% -20%);
		transition: all 1s ease-out;
	}

	.nav-items.open {
		clip-path: circle(1000px at 100% 0);
		-webkit-clip-path: circle(1000px at 100% 0);
		pointer-events: all;
	}
}
