@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap");

* {
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 640px) {
	.nav-items {
		position: fixed;
		top: 0px;
		background: rgb(83, 108, 215);
		flex-direction: column;
		clip-path: circle(100px at 90% -10%);
		-webkit-clip-path: circle(100px at 90% -20%);
		transition: all 1s ease-out;
	}

	.nav-items.open {
		clip-path: circle(1000px at 100% 0);
		-webkit-clip-path: circle(1000px at 100% 0);
		pointer-events: all;
	}
}

/* svg animation */
.laptop-man {
	max-width: 100%;
}

/* hands */
#hands-svg {
	animation: hands 1s ease-in-out infinite alternate;
	transform-origin: center;
}
@keyframes hands {
	0% {
		transform: rotate(-1deg);
	}
	60% {
		transform: rotate(1deg) scaleY(1.04);
	}
	100% {
		transform: rotate(1deg);
	}
}

/* flowers */
#Vector_114,
#Vector_117 {
	animation: flowers1 1s ease-in-out infinite alternate;
	transform-origin: bottom;
	transform-box: fill-box;
}

#Vector_116,
#Vector_115 {
	animation: flowers2 1s ease-in-out infinite alternate;
	transform-origin: bottom;
	transform-box: fill-box;
}

@keyframes flowers1 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(5deg);
	}
}

@keyframes flowers2 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-5deg);
	}
}

/* clouds */

.cloud {
	animation: cloud 10s ease-in-out infinite;
	transform-origin: center;
}

@keyframes cloud {
	from {
		transform: translateX(-38%);
	}
	to {
		transform: translateX(+35%);
	}
}
